@import "./app/index.css";

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.glass {
    background: var(--glass-bg);
    backdrop-filter: blur(var(--glass-blur)) saturate(180%);
    -webkit-backdrop-filter: blur(var(--glass-blur)) saturate(180%);
    border: 1px solid var(--glass-border);
    box-shadow: 0 4px 20px var(--glass-shadow);
    border-radius: 1rem;
}

.glass-border {
    border: 1px solid var(--glass-border);
    box-shadow: 0 4px 20px var(--glass-shadow);
    border-radius: 1rem;
    padding: 10px;
    margin: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container {
    height: 100%;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

html {
    font-family: Helvetica, serif;
    font-size: 16px;
    background-color: var(--color-background-primary);
    color: var(--color-text);
}
