.input-container {
    padding: 10px 0 6px;

    .label {
        height: 12px;
        margin-bottom: 6px;

        span.placeholder {
            display: inline;
            font-size: 11px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            opacity: 0.72;
        }
    }

    &.empty {
        .label span.placeholder {
            display: none;
        }
    }

    .label .focus {
        color: var(--color-selected) !important;
    }

    .label .dirty {
        color: var(--color-warning) !important;;
    }

    .label .invalid {
        color: var(--color-error) !important;;
    }




    hr {
        border : 0;
        height : 2px;
        margin : 0;
        padding : 0
    }

    hr.focus {
        background-color: var(--color-selected);
    }

    hr.dirty {
        background-color: var(--color-warning);
    }

    hr.invalid {
        background-color: var(--color-error);
    }

    .errors {
        margin-top: 6px;
        color: var(--color-error);
        font-size: 10px;
        min-height: 12px;
    }


}
