body {
    margin: 0;
    height: 100vh;
}

html[data-theme=light] #root {
    height: 100%;
    background-image: url("beach.png");
    background-size: cover;
}

html[data-theme=dark] #root {
    height: 100%;
    background-image: url("stars.jpg");
    background-size: cover;
}